$background: rgb(34, 24, 28);
$background-alternate: #151313;
$text-color: rgba(255, 255, 255, 0.87);
$button-color: rgb(239, 241, 243);

$primary-color: rgb(49, 47, 47);
$secondary-color: rgb(68, 66, 66);

