@use "./variables" as v;

.app {
  display: flex;
  flex-direction: column;
  padding: 10px 20px;
	min-height: 100vh;
	box-sizing: border-box;
	overflow-x: auto;
}

.main {
	margin-top: 70px;
	display: flex;
	align-items: flex-start;
	gap: 1em;
}

.toDos {
  gap: 1.5em;
	align-items: flex-start;	

	&.row {
		display: flex;
	}
	&.grid {
		display: grid;
		grid-template-columns: 1fr 1fr 1fr 1fr;
	}
}


