@use "./variables" as v;


button {
	cursor: pointer;
	transition: .2s;
}

.button-without-background {
	cursor: pointer;
	background: none;
	border: none;

	&:hover {
		color: rgb(169, 166, 166);
	}
}

.x-mark {
	font-size: 18px;
}

.error {
	border: 1px solid red;
}
.errorMessage {
	color: red;
	font-size: 1rem;
	margin: 0px 0px;
}
