@use "./variables" as v;


.header {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 60px;
	z-index: 10;
	display: flex;
	align-items: center;
	padding: 0px 20px;
	background: rgb(0, 0, 0, 0.6);

	button {
		background-color: v.$button-color;
		color: v.$background
	}
}

