@use "./variables" as v;

.task {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 12px;
  background-color: v.$secondary-color;
  padding: 20px 8px;

  input {
    margin-right: 8px;
  }

	.buttons {
		display: flex;
		gap: 4px;
	}

  button {
		background: none;
		border: none;
    padding: 4px;
		transition: .2s;

		&:hover {
			svg {
				color: rgb(169, 166, 166);
			}
		}

    svg {
      font-size: 16px;
    }
  }
}
