@use "./variables" as v;

.toDoList {
	width: 23em;
	position: relative;
	flex-shrink: 0;
	padding: 12px;
	border-radius: 12px;
	background-color: v.$primary-color;
	box-sizing: border-box;
}

.header {
	position: relative;
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin: 0 0 20px 0;

	.optionsPopUp {
		position: absolute;
		top: 0;
		right: 0;
		background-color: v.$secondary-color;
		border-radius: 6px;

		ul {
			border-radius: 6px;

			margin: 0px 0px;
			padding: 0px 0px;
		}
		li {
			cursor: pointer;
			list-style: none;
			padding: 2px 0px;
			padding: 6px 20px;
			border-radius: 6px;

			&:hover {
				background-color: rgb(102, 95, 95);
			}
		}
	}
}

.title {
	margin: 0px;
	text-align: center;
	font-size: 1.5rem;
}

.tasks {
	display: flex;
	flex-direction: column;
	gap: 6px;
	min-height: 20px;
	padding: 16px 0px;
}

.filters {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	gap: 6px;
	box-sizing: border-box;
}
.filter {
	cursor: pointer;
	padding: 2px 6px;
	text-align: center;
	background-color: rgb(174, 156, 156);
	border-radius: 6px;

	&.active {
		background-color: rgb(215, 56, 56);
	}
}

.taskTextArea {
	width: 100%;
	min-height: 80px;
	font-family: sans-serif;
	font-size: 16px;
	resize: vertical;
	padding: 10px 10px;
	box-sizing: border-box;
	border-radius: 12px;
}

.buttons {
	margin-top: 6px;
	display: flex;
	align-items: center;
	justify-content: space-between;
}